
<suite name="CrossbrowserAndParallelTesting" parallel="methods" thread-count="10">
<!--<test name="EdgeTest">
		<parameter name="browser" value="edge"></parameter>
    <classes>
            <class name="com.dsAlgoTestRunner.TestRunner"/>
    </classes>
   </test> -->
        <test name="ChromeTest">
		<parameter name="browser" value="chrome"></parameter>
    <classes>
            <class name="com.dsAlgoTestRunner.TestRunner"/>
    </classes>
    
 </test>
<test name="FirefoxTest">
		<parameter name="browser" value="firefox"></parameter>
    <classes>
            <class name="com.dsAlgoTestRunner.TestRunner"/>
    </classes>
    </test>
  
  <test name="RerunFailedTests" parallel="false">
        <classes>
		       	<class name="com.dsAlgoTestRunner.TestRunnerForFailed"/>
            <class name="Utilities.RetryforFailedScenarios"/>
        </classes>
    </test>
</suite> <!-- Suite -->
