<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CrossbrowserTesting" parallel="methods" thread-count="5">

	<listeners>
		<listener class-name="Utilities.RetryListner" />
	</listeners>

	<test name="EdgeTest">
		<parameter name="browser" value="edge"></parameter>
		<classes>
			<class name="com.dsAlgoTestRunner.SequentialAndParallelTestRunner" />
		</classes>
	</test>
	<test name="ChromeTest">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="com.dsAlgoTestRunner.SequentialAndParallelTestRunner" />
		</classes>

	</test>
</suite>
